.home-page {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--primary-blue);
}

.info-button-container {
    position: absolute;
    top: 2rem;
    left: 2rem;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-button-container {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: flex;
    gap: 1rem;
}

.btn-primary {
    padding: 1rem 2rem;
    background-color: #F9C24B;
    color: #153959;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.logo {
  width: auto;           /* Let width adjust naturally */
  height: auto;          /* Let height adjust naturally */
  max-width: 100%;       /* Don't exceed container */
  object-fit: contain;   /* Preserve aspect ratio */
}

.modal-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.modal-box {
    background-color: white;
    border-radius: 10px;
    padding: 2rem;
    min-width: 320px;
    max-width: 500px;
    width: 90%;
    position: relative;
}

.modal-close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--primary-blue);
}
