.home-page {
    min-height: 100vh;
    background-color: var(--primary-blue);
}

.btn-primary {
    padding: 1rem 2rem;
    background-color: #F9C24B;
    color: #153959;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}